.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 20px;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  background: none;
  border: none;
  color: white;
  font-size: 5em;
  width: 500px;
  text-align: center;
}
.timer:focus {
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.button-container > button {
  border: 2px #61dafb solid;
  color: white;
  height: 50px;
  width: 120px;
  background: none;
  border-radius: 9999px;
  transition: 200ms;
}

.button-container > button:hover {
  transform: scale(1.05);
  transition: 200ms;
}

#stop-btn {
  border-color: #ff4444;
}

#pause-btn {
  border-color: sandybrown;
}

.button-container > button:disabled {
  color: gray !important;
  border-color: gray !important;
}

.App-footer {
  position: absolute;
  bottom: 16px;
  font-size: 0.5em;
}

@media only screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}

a {
  color: #00aadd;
}
